<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
  <Appenders>
    <Console name="ECS-Console" target="SYSTEM_OUT">
      <EcsLayout
          serviceName="store"
          serviceNodeName="${env:HOSTNAME}"
          eventDataset="tomcat.store"
          includeMarkers="true"
          stackTraceAsArray="true"
          includeOrigin="true">
          <KeyValuePair key="fqsn" value="${env:FQSN}"/>
      </EcsLayout>
    </Console>

    <RollingFile name="ECS-File" fileName="logs/log4j-ecs-json.log"
        filePattern="logs/log4j-ecs-json-%d{yyyy-MM-dd}-%i.log">
      <EcsLayout
          serviceName="store"
          serviceNodeName="${env:HOSTNAME}"
          eventDataset="tomcat.store"
          includeMarkers="true"
          stackTraceAsArray="true"
          includeOrigin="true"/>
      <Policies>
        <SizeBasedTriggeringPolicy size="19500KB" />
      </Policies>
      <DefaultRolloverStrategy max="10"/>
    </RollingFile>

  </Appenders>

  <Loggers>
    <!--<Root level="${sys:myloglevel:-info}">-->
    <Root level="${env:TOMCAT_LOGLEVEL:-warn}">
      <AppenderRef ref="ECS-Console"/>
    </Root>
    <Logger name="org.cdlib.mrt.store" level="${env:TOMCAT_LOGLEVEL:-warn}">
      <AppenderRef ref="ECS-File"/>
    </Logger>
  </Loggers>
</Configuration>

