<configuration>

  <statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener" />

  <appender name="file-ecslogger" class="ch.qos.logback.core.FileAppender">
    <file>${catalina.base}/logs/ecslogger.log</file>
    <append>true</append>
    <encoder class="co.elastic.logging.logback.EcsEncoder">
      <serviceName>store</serviceName>
      <serviceNodeName>${HOSTNAME}</serviceNodeName>
    </encoder>
  </appender>

  <logger name="ecslogger" level="DEBUG">
    <appender-ref ref="file-ecslogger" />
  </logger>

</configuration>
